*
{
    box-sizing: border-box;
}

body
{
  background: #080C15;
}

.main
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tape
{
    width: 600px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 13px;
    border: solid 1px #D3D3D3;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.16);
    position: relative;
}

.footerwrapper
{
    position: absolute;
    bottom: 0;
    left: calc(50% - 205px);
}

.trapezoid
{
    position: relative;
  border-bottom: 70px solid #838181;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 410px;
}

.tapesticker
{
    width: 558px;
    height: 250px;
  left: 230px;
  background-color: #080C15;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 18px;
}

#lefthole, #righthole
{
    width: 25px;
  height: 25px;
  background-color: #E7E7E7;
  border-radius: 50%;
}

#righthole
{
    position: absolute;
    top: 25px;
    right: 12px;
}

#lefthole
{
    position: absolute;
  top: 25px;
  left: 12px;
}

#centerhole
{
    position: absolute;
  width: 15px;
  height: 15px;
  background-color: #E7E7E7;
  border-radius: 14px;
  border: solid 1px #8C8C8C;
  top: 17px;
  left: calc(205px - 12px - 7px);
}

#centersquare
{
    position: absolute;
  width: 64px;
  height: 26px;
  background-color: #E7E7E7;
  border-radius: 5px;
  border: solid 1px #D3D3D3;
  top: 40px;
  left: calc(205px - 12px - 32px);
}



.tapeheader
{
    width: 418px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 2px;
}

#titles
{
    margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title
{
    margin: 0;
    font-size: 24px;
    padding: 0;
    display: block;
    font-family: "Yantramanav", sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.author
{
    font-size: 24px;
  margin: 0;
  padding: 0;
  display: block;
 -webkit-text-stroke: 0.7px white;
   font-family: "Yantramanav", sans-serif;
  color: transparent;
  font-weight: bold;
}

.tapegrad
{
    margin-top: 5px;
  width: 100%;
  height: 25px;
  position: relative;
  overflow: hidden;
}

#grad
{
    width: 400%;
  height: 25px;
  position: absolute;
  background: red;
}

.ribbon
{
    width: 378px;
  height: 92px;
  border-radius: 46px 46px 46px 46px;
  background-color: #E7E7E7;
  margin: 12px auto 0  auto;
  border: solid 1px #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapleft
{
    width: 200px;
  height: 200px;
  margin-left: -48px;
}

.wrapright
{
    width: 120px;
  height: 120px;
  margin-right: -10px;
}

.wrapleft, .wrapright
{
    border-radius: 50%;
  background-color: #080C15;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ribbonleft, #ribbonright
{
    width: 110px;
  height: 110px;
  background-color: black;
  border: solid 24px #fff;
  border-radius: 50%;
}

#ribbonleft
{
    margin-left: -5px;
}

#ribbonright
{
    margin-right: -5px;
}

.track
{
  display: block;
  color: #FFFDFD;
  font-size: 10px;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Yantramanav", sans-serif;
  
}

.controls button
{
  border: none;
  background: none;
  cursor: pointer;

}

.controls i
{
  font-size: 35px;
  padding: 1.5px;
  border-radius: 70%;
  background-color: #080C15;
  color: crimson;
  transition: all .2s;
  position: absolute;
  border-radius: 14px;
  top: 228px;
  left: 290px;
}

.controls i:hover
{
  background-color: crimson;
  color: white;
}



#letterleft, #letterright
{
  font-family: "Yantramanav", sans-serif;
  position: absolute;
  color: white;
  font-size: 38px;
}

#compact
{
  font-family: "Yantramanav", sans-serif;
  position: absolute;
  color: white;
  font-size: 10px;
  top: 240px; 
  right: 40px;
  font-weight: bolder;
}

#letterleft
{
  top: 152px; 
  left: 57px;
}

#letterright
{
  top: 152px; 
  right: 57px;
}